/*
 Must contain 12 css properties
 Must style 8 HTML tags
 Use #cc9966 as background color
 Use #ffcc99 as inside color
 
 
 By: Jessica Mehaffey
 Term: VFW 1211
 For: Project 2
 Date: 11/1/2012
*/

/* index.html */
/* H1 style */
h1 {
	margin: 10px;
	padding: 15px 10px;
	border: 3px double black;
	background: #ffcc99;
	width: 220px;
}

/* Paragraph 1 style */
p {

}

/* H2 style */
h2 {

}

/* "Add pet" link style */
a {

}

/* Hover color of "Add Pet" */
a:hover{color:yellow;}

/* Figure out how to link to addpet.html */
/* addpet.html*/
/* H1 style*/
h1 {
	margin: 10px;
	padding: 15px 10px;
	border: 3px double black;
	background: #ffcc99;
}

/* "Display Registered Pets" link style*/
a {

}
	a:hover{color:yellow;}

/* Label style*/
label {
	display: block;
}
