/*
 By: Jessica Mehaffey
 Term: VFW 1211
 For: Project 4
 Date: 11/15/2012
 
 
 Inside color #ffcc99
 Background color #cc9966
*/

/* Body style */
body {
	background-color: #cc9966;
	font-family: 'Times New Roman', Times, serif;
	opacity: inherit;
	appearance: inherit;
}

/* H1 style */
h1 {
	margin: 10px;
	padding: 15px 10px;
	border: 3px double black;
	background: #ffcc99;
	width: 220px;
}

/* Paragraph 1 style */
p {
	color: #ffffcc;
	font-style: italic;
	text-align: left;
	text-indent: 10px;
}

/* H2 style */
h2 {
	margin: 30px 10px;
	color: #000000;
	font-style: italic;
}

/* "Add pet" link style */
a {
	margin: 5px;
	padding: 10px;
	font-style: bold;
	font-size: 14px;
	color: blue;
}
	/* Hover color of "Add Pet" */
	a:hover{color:yellow;}

/* All bulleted text */
li {
	margin: 5px;
	color: #ffffcc;
	text-shadow: 0px 5px 3px #555;
	list-style-type: square;
}
/* Legend style */
legend {
	color: #ffffcc;
	font-size: 30px;
	font-style: italic;
	text-shadow: 0px 5px 3px #555;
}

/* Span style */
span {
	text-align: left;
	font-size: 14px;
	font-style: italic;
	color: #CCCCCC;
}