/*
 Must contain 12 css properties
 Must style 8 HTML tags
 
 
 By: Jessica Mehaffey
 Term: VFW 1211
 For: Project 2
 Date: 11/1/2012
*/

/* index.html */
/* H1 style */
h1 {

}

/* Paragraph 1 style */
p {

}

/* H2 style */
h2 {

}
/* addpet.html*/